.frame {
  width:960px;
  height:960px;
  background-color:grey;
  margin:3px, black;
}
.container {
  font-size:0;
}
.color {
  background-color: black;
}
div .etch {
  display:inline-block;
  font-size:0;
  padding:none;
  margin:none;
}
